.idea
.theia

*.exe
solution/code/crawler
solution/code/backend
solution/code/scheduler

00-all-slides.md
export

.DS_Store

*node_modules*

todo-app/.dockerignore
todo-app/Dockerfile
todo-app/docker-compose.y*ml

multistage-demo/Dockerfile
